faixa{
    line-height:10px ;
    line-width;: 10px;
    color: red;
}
body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
header {
    background-color: #ffffff;
    color: white;
    padding: 1rem;
}

.container {
    display: flex;
    width: 80%;
    max-width: 900px;
    justify-content:center;
}

.form-container {
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 45%;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4d4d4d;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #2c2c2c;
}

.form-container a {
    display: block;
    margin-top: 10px;
    color: #4d4d4d;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}
